<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Application Specifc Logging -->
    <logger name="com.ppuskar.quartzmanager" level="DEBUG"/>
    
    <!-- Quartz Logging -->
    <logger name="org.quartz" level="INFO"/>

</configuration>
